<html>

<head>
  <link rel="stylesheet" href="style-chapter-4.css">
</head>

<body>
  <div class="container">

    <img src="assets/logo 1.png" class="logo">

    <h1 class="rps-h1">ROCK PAPER SCICORS</h1>

    <h3>PLAYER <span id="player_score">0</span></h3>
    <h3>COM <span id="com_score">0</span></h3>
    <section id="player">
      <div class="area-player">
        <ul class="player-1">
          <li>
            <img src="assets/batu.png" id="batu" class="choice">
          </li>
          <li>
            <img src="assets/kertas.png" id="kertas" class="choice">
          </li>
          <li>
            <img src="assets/gunting.png" id="gunting" class="choice">
          </li>
        </ul>
      </div>
    </section>

    <h1 id="versus-h1">VS</h1>

    <section id="computer">
      <div class="area-comp">
        <ul class="computer">
          <li>
            <img src="assets/batu.png" id="batu-comp" class="choice">
          </li>
          <li>
            <img src="assets/kertas.png" id="kertas-comp" class="choice">
          </li>
          <li>
            <img src="assets/gunting.png" id="gunting-comp" class="choice">
          </li>
        </ul>
      </div>
    </section>

    <img src="./assets/refresh.png" alt="" id="reset" width="25">
  </div>
</body>

<script src="./script.js"></script>

</html>